################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Launcher/obj
/.vs/CodeSamplesAndAlgorithms/v16
/CodeSamples/obj
/Algorithms/obj
/LaunchableSample/obj
/LaunchableSample/bin/Debug/netcoreapp2.2
