################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Launcher/obj
/.vs/CodeSamplesAndAlgorithms/v16
/CodeSamples/obj
/Algorithms/obj
/LaunchableSample/obj
/LaunchableSample/bin/Debug/netcoreapp2.2
/Launcher/bin/Debug/netcoreapp2.2
/CodeSamples/bin/Debug/netcoreapp2.2
/Algorithms/bin/Debug/netcoreapp2.2
/.vs/CodeSamplesAndAlgorithms/DesignTimeBuild
/Reusables/obj/Debug
/Samples/obj/Debug/Samples.csproj.CoreCompileInputs.cache
/Samples/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Launcher/bin/Debug
/packages/Microsoft.Office.Interop.Word.15.0.4797.1003/lib/net20
/packages/Microsoft.Office.Interop.Word.15.0.4797.1003
/Reusables/bin/Debug
/Samples/bin/Debug
/Samples/obj/Debug
/.vs/CodeSamplesAndAlgorithms/v15/Server/sqlite3/storage.ide-wal
/.vs/CodeSamplesAndAlgorithms/v15/Server/sqlite3/storage.ide-shm
/.vs/CodeSamplesAndAlgorithms/v15/Server/sqlite3/storage.ide
/.vs/CodeSamplesAndAlgorithms/v15/Server/sqlite3/db.lock
/.vs/CodeSamplesAndAlgorithms/v15/.suo
/MergeCommonElementsDistinct/bin/Debug
/MergeCommonElementsDistinct/obj/Debug
/.vs/Algorithms/v17/.suo
/CodeTestInterview/bin/Debug/net6.0
/.vs/Algorithms/DesignTimeBuild
/CodeTestInterview/obj
/.vs/Algorithms/v17
